:root {
    --yellow: rgba(34, 115, 254, 0.65);
    --grey: #404040;
}
body {
    font-size: 12px;
    line-height: 1.2;
    font-family: 'Open Sans', sans-serif;
}
hr {
    background-color: var(--yellow);
    height: 0.2em;
    margin-top: 0;
}
p {
    text-align: justify;
}
a {
    color: inherit;
}
h3 {
    font-weight: bold;
}
aside {
    background-color: var(--yellow);
}
aside h3 {
    background-color: var(--grey);
    color : var(--yellow);
    text-align: center;
}
article i {
    font-size: 1.2em;
    padding-right: 1em;
}
ul {
    list-style: none;
}
ul i{
    font-size: 0.5em;
    color: var(--yellow);
}
ul li:first-child i{
    font-size: 0.4em;
    border: solid 1px var(--yellow);
    border-radius: 50%;
    padding: 2px;
    margin-right: 0.7em;
}
.fa-border{
    border-radius: 50%!important;
}

.color {
    color: var(--yellow);
}
.work {
    font-size: 2em;
}
.work span {
    border-bottom: solid 2px var(--yellow);
}
.little {
    width: 3em;
    line-height: 0;
}
.hobbies {
    font-size: 3em;
    border: solid 1px;
    border-radius: 50%;
    margin: 10px;
    padding: 8px;
}