:root {
    --yellow: #feca07;
    --grey: #404040;
}
body {
    font-size: 12px;
    line-height: 1.2;
    font-family: 'Open Sans', sans-serif;
}
h1 span {
    color: var(--yellow);
}
h3 {
    font-weight: bold;
}
aside {
    background-color: var(--yellow);
}
aside h3 {
    background-color: var(--grey);
    color : var(--yellow);
    text-align: center;
}
hr {
    background-color: var(--yellow);
    height: 0.2em;
    margin-top: 0;
}
p {
    text-align: justify;
}
a {
    color: inherit;
}
ul:first-child {
    list-style: circle;
}
.work {
    font-size: 2em;
}
.little {
    width: 3em;
    line-height: 0;
}
article i {
    font-size: 0.8em;
}